@use './fonts.scss' as *;
@use './typography.scss' as *;
@use './ripple.scss' as *;
/* Root variables */
:root {
  --font-header: 'Orbitron', sans-serif;
  --font-body: 'Jost', sans-serif;
  --font-main: 'Orbit', -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  --font-size-base: 16px;
  --transition-base: 0.3s ease;
  --shadow-base: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Material-like shadows (copied from Vuetify elevation) */
  --shadow-sm:
    0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  --shadow-md:
    0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  /* Fixes layout shifts when scrollbar appears/disappears */
  scrollbar-gutter: stable both-edges;
  /* colors */
  --color-primary: #fec40e;
  --color-disabled: #fec60ec3;
  --color-secondary: #120f0f;
  --color-bg-body: #1e1e1e;
  --color-bg-app: #010101;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
  --color-text-muted: #aaaaaa;
  --color-danger: #ff4d4f;
  --input-bg-light: #ffffff;
  /* spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-xxl: 48px;
  /* radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%; /* For preventing automatic text size adjustment on orientation change */
}
body {
  min-height: 100vh;
  /* Fixing mobile viewport bug (especially iOS Safari) */
  min-height: -webkit-fill-available;
  margin: 0;
  font-family: var(--font-main);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg-body);
}
#app {
  min-height: 100vh;
  background-color: var(--color-bg-app);
  max-width: 1440px;
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: color var(--transition-base);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}
